// Fuentes
$fuente_principal: 'Alata', sans-serif;
$fuente_secundaria: 'Josefin Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopLg: 1200px;

// Colores
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 55%);
$darkGray: hsl(0, 0%, 41%);

$separacion: 5rem;